@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.last-21-right-section {
    background-color: white;
}

.last-21-right-item-card {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.head-card {
    background-color: #fe885d;
    background-size: cover;
    height: 65px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.head-card-heading {
    font-size: 20px;
    font-weight: bold;
}

.head-card-heading-1 {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
    color:#414140;
}

.body-card-heading {
    font-size: 15px;
    font-weight: bold;
}

.body-card-heading-1 {
    font-size: 15px;
    color: #a5a5a5;
}

.body-card-heading-2 {
    font-size: 15px;
}

.location-card {
    height: 150px;
    width: 250px;
}

#location-card-Item2 {
    color: #fe885d;
    background-color: transparent;
    height: 35px;
    width: 120px;
    border-radius: 25px;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #fe885d;
}

#location-card-Item3 {
    background-image: linear-gradient(#fd7973,#fe8463);
    color: white;
    height: 35px;
    width: 120px;
    border-radius: 25px;
    font-size: 12px;
}
