.container{
    display: block;
    height: 500px;
    width: 700px;
    margin: auto;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.title{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    justify-content: center;
    padding: 15px;
    
}

.inp{
    width: 350px;
    height: 35px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-style: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

}

.for{
    margin-top: 10px;
    margin-left: 15px;
}
.puld{
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    margin-top: 15px;
    margin-left: 15px;
}

.reh{
    display: flex;
    flex-direction: row;
    margin: 15px;
    justify-content: space-between;
    width: 250px;
}

.hire{
    /* box-shadow: blanchedalmond; */
    background-color: white;
    color: tomato;
    width: 101px;
    height: 19px;
    padding: 9px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    text-align: center;
    border-radius: 18px;
}

.inv{
    background-color: #fa736c;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    width: 101px;
    height: 19px;
    padding: 9px;
    text-align: center;
    border-radius: 18px;
}
